log/
testdata/

/sns-agent/sns-agent
/sns-transformer/sns-transformer
/tools/sns-lookup/sns-lookup
/examples/callee/callee
/examples/caller/caller

/sns-transformer/dockers/sns-transformer
/sns-transformer/dockers/conf/kube/ca.crt
/sns-transformer/dockers/conf/kube/client.crt
/sns-transformer/dockers/conf/kube/client.key
/sns-agent/dockers/sns-agent
/sns-agent/dockers/sns-lookup
/sns-agent/dockers/conf/kube/ca.crt
/sns-agent/dockers/conf/kube/client.crt
/sns-agent/dockers/conf/kube/client.key
/examples/callee/dockers/callee
/examples/caller/dockers/caller

/scripts/setup/prod/
